body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    background-color:#dddddd;
    margin: auto;
}

header {
    text-align: center; 
    margin: 0;
    line-height: 500%;
    background-color:#fff;
    border-bottom: 1px #777 solid;
}

nav {
    float: right;
    margin-right: 10%;
    vertical-align: middle;
}

main {
    background-color:#fff;
    padding: 0 2% 2% 2%;
    margin: 0 10% 0 10%;
}

span {
    width: 100%;
    line-height: 1.6em;
}

#aboutmeImg {
    float: left;
    padding-right: 2%;
    padding-bottom: 1%;
}

hr {
    margin: 0;
}

footer {
    position: relative;
    width: 100%;
}

.spacer {
    clear: both;
}

.myName {
    float: left;
    background-color: #4aaaa5;
    color: white;
    padding: 0 20px 0 20px;
    margin: 0 0 0 10%;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}
.pageTitle {
    clear: both;
    color: #4aaaa5;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0;
}

.portfolioItem {
    position: relative;
    float: left;
    width: 30%;
    margin: 2%;
}

.portfolioBanner {
    background-color: #4aaaa5;
    color: white;
    font-size: 10pt;
    text-align: center;
    position: absolute;
    bottom: 10%;
    width: 100%;
}

.portfolioImage {
    width: 100%;
}

#footerRule {
    border-width: 5px;
    border-color: #4aaaa5;
    border-style: solid;
}

#footerText {
    text-align: center;
    margin: 0;
    background-color: #777777;
    color: white;
    font-size: 8pt;
    padding-top: 3%;
    padding-bottom: 2px;
}

#submit {
    font-size: 12pt;
    background-color: #4aaaa5;
    color: white;
    height: 2em;
}
